<!-- Displays all the tracks the tracker has commented on. -->
<div class= "container track-item-container">
  <p>Tracks that you commented</p>
  <% tracks.each do |track| %>
    <% if track.soundcloud_permalink_url != nil %>
      <%= render "tracks/track_item", track: track %>
    <% end %>
  <% end %>
</div>
