<div class= "container track-item-container">
  <p>Tracks that you uploaded</p>
  <button type="button" class="btn btn-secondary"><%= link_to 'Add a new track', new_track_path%></button>
  <% tracks.each do |track| %>
    <% if track.soundcloud_permalink_url != nil %>
      <%= render "tracks/track_item", track: track, page: 'profile' %>
    <% end %>
  <% end %>
</div>
