 <h4>Tracks uploaded by you.</h4>
<div class= "container track-item-container">
 <button type="button" class="btn btn-secondary"><%= link_to 'Add a new track', new_track_path%></button>
 <% @current_user.tracks.each do |track| %>
 <% if track.soundcloud_permalink_url != nil %>
 <%= render "tracks/track_item", track: track %>
 <% end %>
 <% end %>
</div>
