<!-- Displays all the tracks the tracker has commented on. -->
<div class= "container track-item-container">
<p>Tracks that <%= current_user.username %> has commented on.</p>
<% trackz = [] %>
<% current_user.comments.each do |comment| %>
  <% trackz << Track.find_by_id(comment.track_id) %>
<% end %>
<% trackz.each do |track| %>
  <% if track.soundcloud_permalink_url != nil %>
  <%= render "tracks/track_item", track: track %>
  <% end %>
<% end %>
</div>