<header id="top" class="header">
    <div class="header-content text-center">
     <div class="test">
        <a href="#sub" class="fa fa-play fa-5x"></a>
        <a href="#Bar" class="fa fa-pause fa-5x" data-toggle="collapse"></a>
        <!-- <h2>Track it </h2> -->
        </div>
    </div>
</header>

  <div class="tabs tabs-home">
    <a class="tab tab-home" data-target="#bio">
      <h3>Hot</h3>
    </a>
    <a class="tab tab-home active" data-target="#projects">
      <h3>Trending</h3>
    </a>
    <a class="tab tab-home" data-target="#contact">
      <h3>Fresh</h3>
    </a>
  </div>

