<div class="track-card-container">
  <div class="track-card">
    <div class="track-card-main">

    </div>
    <div class="track-card-sidebar">
      <div class='track-card-comments'>
        <% if @track.comments.blank? %>
          Be the first to leave a comment for <%= @track.name %> by <%= @track.user.username %>
        <% else %>
          <% @track.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
