<div id="Bar" class="collapse">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2> What Can You Do On This Amazing Site </h2>
      <p class="lead">Check out the coolest and hottest tracks on the interwebs</p>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="how-it-works-bucket">
                <img alt="Locate a Provider Using Our Directory" class="how-it-works-icon" height="50%" src="//d3c1grj748hoip.cloudfront.net/assets/home/how-it-works-meeta-1-40389e8d3fbe301fa370e5b7868dabb861c5948cb14723e96c7051a9e3e7d622.svg" title="Locate a Provider Using Our Directory" width="50%" />
                <span class="step-number">Step 1</span>
                <h4>Listen to the Awesome tracks</h4>
                <p>Sign up with yo soundcloud my man </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="how-it-works-bucket">
                <img alt="Connect With Your Matches" class="how-it-works-icon" height="50%" src="//d3c1grj748hoip.cloudfront.net/assets/home/how-it-works-meeta-2-32fac04b17fd8c6eac0fafca024a24ef4ba5704c662717bd158d6ce6dcc21819.svg" title="Connect With Your Matches" width="50%" />
                <span class="step-number">Step 2</span>
                <h4>Upvote that track and become a tracker (H) </h4>
                <p>Check out all of your upvoted tracks on your profile.</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="how-it-works-bucket">
                <img alt="Shortlist Your Favorites and Hire" class="how-it-works-icon" height="50%" src="//d3c1grj748hoip.cloudfront.net/assets/home/how-it-works-meeta-3-bbf991202f6f0d5949ac0c87afb881ee01b788ce348ef3b2393e0b32b96f5803.svg" title="Shortlist Your Favorites and Hire" width="50%" />
                <span class="step-number">Step 3</span>
                <h4>Enjoy</h4>
                <p>Invite yo homies</p>
              </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
      


      