<header id="top" class="header">
    <div class="header-content text-center">
        <h1><button href="#Bar" class="fa fa-pause" data-toggle="collapse"></button>
        </a> <a href="#portfolio" class="fa fa-play"></a></h1>
        <h2>Track it </h2>
    </div>
</header>