
.header {
    display: flex;
    // position: center;
    width: 100%;
    height: 800px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/7/77/Waveforms.svg) no-repeat center center scroll;
    align-items: center;
    justify-content:center;
/*     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
}


.header-content {

  a {
    text-decoration: none;
    color: black;
  }
    .h1 {
        font-size: 500px
    }
}

.fa-pause:before {
    padding: 20px;
}

.fa-pause:hover {
    color: green;
    transition: all 3000ms ease-in-out;
    
}
.fa-play:hover {
    color: green;
    transition: all 3000ms ease-in-out;
}