
.header {
    display: flex;
    // position: center;
    width: 100%;
    height: 483px;
    background: url(http://res.cloudinary.com/dgordon1/image/upload/c_scale,w_1500/v1458922034/track-it-home_wzmdku.png) no-repeat center center fixed;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    // border-left: 260px solid #ccc;
    // border-right: 260px solid #ccc;
}

.header-content {
  a {
    text-decoration: none;
    color: grey;
    opacity: 0.6;
    justify-content:center;
    // margin-top: 350px;
} }

.fa-pause:before {
    padding: 20px;
}
.fa-pause:hover {
    color: orange;
    transition: all 2500ms ease-in-out;
}
.fa-play:hover {
    color: green;
    transition: all 2000ms ease-in-out;
}
.fa-times:hover {
    color: red;
    transition: all 1500ms ease-in-out;
}
.fa-lock:hover {
    color: blue;
    transition: all 1500ms ease-in-out;
}
.fa-tree:hover {
    color: purple;
    transition: all 1500ms ease-in-out;
}
.fa-caret-square-o-up {
    color: orange;
    transition: all 2500ms ease-in-out;
}
.fa-magic {
    color: pink;
    transition: all 2500ms ease-in-out;
}
.fa-magic:hover {
    color: purple;
    transition: all 2500ms ease-in-out;
}