.modal-dialog{
    width: 400px;
    margin-top: 100px;
}

.modal-footer{
  text-align: center;
}

.modal-footer {
  border: 0px;
  margin-bottom: 10px;
}

.modal-header {
  border: 0px;
}

.close {
  width: 0px;
  margin-right: 10px;
}


