.profile-header-wrapper {
  background-image: url('https://unsplash.it/g/1600/600?image=450');
}

.profile-header-container {
  // padding-top: 300px;
}

.profile-header-container img {
  width: 125px;
  border-radius: 10px;
  float: left;
}
.profile-header-container h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 100px;
}
.profile-header-container h2 {
  color: white;
  opacity: 0.4;
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 0;
  letter-spacing: -1px;
}
.profile-header-infos {
  padding: 20px 0;
  padding-bottom: 150px;
}

.tabs {
  background: none;
}

.tab {
  background: grey;
  opacity: 0.4;
}


// override bootstrap classes
