.tabs-home {
  background: none;
  display: flex;
  padding: 0px 0px 0 0px !important;
  margin-top: -70px;
  height: 70px;
  // position: absolute bottom center;
}

.tabs-home p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab-home {
  background: rgba(102, 102, 102, 0.5);
  flex: 0 0 33.33%;
  text-align: center;
  display: flex;

  &:hover {
    background: rgba(102, 102, 102, 0.7);
  }
}

.tab-home a {
  color: white;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.tab-home :active {
  color: white;
}

.tab-home a :active{
  color: white;
}

.active-tab {
  background: white;

  a {
    color: black;
  }

  &:hover {
    background: white;
  }
  
}

.pages-home {
  .tab-home:nth-child(1) {
    @extend .active-tab;
  }
}

.tracks-trending {
  .tab-home:nth-child(2) {
    @extend .active-tab;
  }
}

.tracks-fresh {
  .tab-home:nth-child(3) {
    @extend .active-tab;
  }
}