.tabs {
  background: rgba(102, 102, 102, 0.5);
  display: flex;
  margin-top: -70px;
  height: 70px;
}
.tabs a {
  background-color: black;
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.8;
  margin-bottom: 0;
}
.tab {
  flex: 0 0 33.33%;
  text-align: center;
  padding: 20px 0;
}

.tab.active {
  background: white;
  color: black;
  opacity: 1;
}