<div class= "container track-item-container">
  <h4> Upvotes </h4>
  <% tracks.each do |track| %>
    <% if track.soundcloud_permalink_url != nil %>
    <%= render "tracks/track_item", track: track %>
    <% end %>
  <% end %>
</div>