<p>Tracks that <%= @tracker.username %> has commented on.</p>
    <% tracks = [] %>
    <% @tracker.tracks.each do |track| %>
    <!-- displays the soundcloud player -->
      <% if track.soundcloud_permalink_url != nil %>
        <script src="<%= track.soundcloud_permalink_url %>"></script>
        <div class="player">
          <span class='info'></span>
          <div class="waveform"></div>
          <div class="position"></div>
        </div>
        <iframe class="sc-widget" src=<%= "//w.soundcloud.com/player/?url=#{track.soundcloud_permalink_url}&show_artwork=true&liking=false&sharing=false&auto_play=false" %>
          style=
          width="400"
          height="100"
          frameborder="no"
          padding="0px"
        >
        </iframe>
        <!-- displays all the comment the trackers has made on one tracks -->
          <% @tracker.comments.each do |comment| %>
          <% tracks << Track.find_by_id(comment.track_id) %>
          <p><%= comment.content %></p>
          <% end %>
      <% end %>
    <% end %>