
<div class="text-center">
  <h1>This is the tracker public profile page</h1>

  <h2> Welcome to the page of <%= @tracker.username %> </h2>


  <div class="contained padded">
    <h5> Three tabs containing uploaded music, comments and upvotes will be displaced here. </h5>
  </div>
</div>